@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* START Docskit theme */

@layer base {
  :root {
    --ch-0: dark;
    --ch-1: #cdd6f4;
    --ch-2: #9399b2;
    --ch-3: #6c7086;
    --ch-4: #a6e3a1;
    --ch-5: #f5c2e7;
    --ch-6: #fab387;
    --ch-7: #cba6f7;
    --ch-8: #94e2d5;
    --ch-9: #89b4fa;
    --ch-10: #f9e2af;
    --ch-11: #eba0ac;
    --ch-12: #f38ba8;
    --ch-13: #89dceb;
    --ch-14: #f2cdcd;
    --ch-15: #a6adc8;
    --ch-16: #b4befe;
    --ch-17: #f5e0dc;
    --ch-18: #1e1e2e;
    --ch-19: #cdd6f412;
    --ch-20: #89dceb40;
    --ch-21: #3794ff;
    --ch-22: #9399b240;
    --ch-23: #181825;
    --ch-24: #585b70;
    --ch-25: #11111b;
    --ch-26: #7f849c;
    --ch-27: #313244;
    --ch-28: #31324480;
    --ch-29: #1e1e2ee6;
    --ch-30: #a6adc8;
    --ch-31: #585b70;
    --ch-32: #45475a;
    --ch-33: #bac2de;
  }
}
